%h1= @conference.name

.description
  = simple_format @conference.description

.staffs
  %h2 Staff
  %ul
    - @conference.staffs.includes(:person).each do |staff|
      %li
        = staff.person.name

- if @conference.open_to_proposals?
  .proposal
    = link_to 'Submit proposal', new_conference_proposal_path(@conference)

.back_to_index
  = link_to 'Index', conferences_path
