%h1
  Edit
  = @conference.name

= form_for @conference, url: staff_conference_path(@conference), html: { role: 'form' } do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', rows: 15
  .actions
    = f.submit 'Update', class: 'btn btn-primary btn-lg'
